# Linker options for MUSL targets. We need to manually specify --target as cargo
# doesn't do that for us by default
[target.x86_64-unknown-linux-musl]
linker = "clang"
rustflags = [
    "-C", "link-arg=-fuse-ld=lld-17",
    "-C", "link-arg=--target=x86_64-unknown-linux-musl",
    "-C", "link-arg=--sysroot=/sysroots/amd64-musl",
    "-C", "link-arg=-static",
]

[target.aarch64-unknown-linux-musl]
linker = "clang"
rustflags = [
    "-C", "link-arg=-fuse-ld=lld-17",
    "-C", "link-arg=--target=aarch64-unknown-linux-musl",
    "-C", "link-arg=--sysroot=/sysroots/arm64-musl",
    "-C", "link-arg=-static",
]

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = [
    "-C", "link-arg=-fuse-ld=lld-17",
    "-C", "link-arg=--target=x86_64-unknown-linux-gnu",
]

[target.aarch64-unknown-linux-gnu]
linker = "clang"
rustflags = [
    "-C", "link-arg=-fuse-ld=lld-17",
    "-C", "link-arg=--target=aarch64-unknown-linux-gnu",
    "-C", "link-arg=--sysroot=/sysroots/arm64",
]
