name: Download cache and Upload

# Debug the cache. Example to run:
# gh workflow run debug_cache.yml -f cache_key=setup-go-Linux-x64-ubuntu24-go-1.25.7-db3f66b86a16be31d89e16ce08f217df90c50b79a7cf6877f62fc3d1fc880727
on:
  workflow_dispatch:
    inputs:
      cache_key:
        description: 'Cache key'
        required: true
        type: string
jobs:
  cache-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: ./cache-folder
          key: ${{ github.event.inputs.cache_key }}

      - name: Upload cached folder as artifact
        uses: actions/upload-artifact@v4
        with:
          name: cache-artifact
          path: ./cache-folder
