name: Branch

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CI: true
  RUST_VERSION: "1.93.1"
  GO_VERSION: "1.25.7"

jobs:
  #### Proxy jobs ####
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: "${{ env.RUST_VERSION }}"
    - uses: Swatinem/rust-cache@v2
      # Github cache is too tiny to handle the full matrix :-(
      if: ${{ matrix.os == 'ubuntu-latest' }}
      with:
        # Github cache will restore from 'main' OR the current branch.
        # If we cache PR branches, we may evict the 'main' cache and end up with no cache hits at all.
        # Ideally, we would have main be 'high priority' and not be evicted but I don't think thats possible.
        save-if: ${{ github.ref == 'refs/heads/main' }}
    - name: Test
      run: make test
    - name: Validate
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: make validate

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v4
      with:
        node-version: 23
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: "${{ env.RUST_VERSION }}"
    - uses: Swatinem/rust-cache@v2
      with:
        # Github cache will restore from 'main' OR the current branch.
        # If we cache PR branches, we may evict the 'main' cache and end up with no cache hits at all.
        # Ideally, we would have main be 'high priority' and not be evicted but I don't think thats possible.
        save-if: ${{ github.ref == 'refs/heads/main' }}
    - name: Add Go bin to PATH
      run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
    - name: Generation
      run: make generate-schema check-clean-repo
    - name: Lint
      run: make lint

  #### UI jobs ####
  ui-lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ui
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v4
      with:
        node-version: 23
    - name: Lint
      run: |
        npm ci
        npm run lint

  #### Controller jobs ####
  controller-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: "${{ env.GO_VERSION }}"
        cache-dependency-path: |
          **/*.sum
          .github/workflows/cache-lint
    - name: Test
      run: go test -race ./...

  controller-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: "${{ env.GO_VERSION }}"
        cache-dependency-path: |
          **/*.sum
          .github/workflows/cache-test
    - name: Lint
      run: make -C controller analyze
    - name: Gen
      # TODO: the rest of codegen
      run: make generate-apis check-clean-repo

  controller-e2e:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: "${{ env.RUST_VERSION }}"
    - uses: Swatinem/rust-cache@v2
      with:
        # Github cache will restore from 'main' OR the current branch.
        # If we cache PR branches, we may evict the 'main' cache and end up with no cache hits at all.
        # Ideally, we would have main be 'high priority' and not be evicted but I don't think thats possible.
        save-if: ${{ github.ref == 'refs/heads/main' }}
    - uses: actions/setup-go@v6
      with:
        go-version: "${{ env.GO_VERSION }}"
        cache-dependency-path: |
          **/*.sum
          .github/workflows/cache-e2e
    - name: Set Path
      run: |
        echo "./tools" >> $GITHUB_PATH
    - name: Setup
      run: TEST_MODE=e2e ./controller/test/setup/setup-kind-ci.sh
    - name: E2E
      run: |
        CGO_ENABLED=0 PERSIST_INSTALL=true go test -tags=e2e -v ./controller/test/e2e/tests -run '^TestAgentgatewayIntegration'
    - name: Archive bug report directory on failure
      if: ${{ failure() }}
      uses: actions/upload-artifact@v4
      with:
        name: bug-report
        path: ./controller/_test/bug_report/kind
        retention-days: 2
    - name: Upload cargo timings
      uses: actions/upload-artifact@v4
      with:
        name: cargo-timings-e2e
        path: target/cargo-timings/cargo-timing*.html
        retention-days: 2
    - name: Summary
      run: |
        echo '# E2E Timings\n'
        cat controller/_test/ci-step-timings.log >> $GITHUB_STEP_SUMMARY

  controller-conformance:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: "${{ env.RUST_VERSION }}"
    - uses: Swatinem/rust-cache@v2
      with:
        # We only read the cache from 'E2E' job, since they should have identical cache.
        save-if: "false"
        shared-key: "controller-e2e" # Pull E2E job's cache
    - uses: actions/setup-go@v6
      with:
        go-version: "${{ env.GO_VERSION }}"
        cache-dependency-path: |
          **/*.sum
          .github/workflows/cache-e2e
    - name: Set Path
      run: |
        echo "./tools" >> $GITHUB_PATH
    - name: Setup
      run: TEST_MODE=conformance ./controller/test/setup/setup-kind-ci.sh
    - name: Conformance
      run: |
        make -C controller all-conformance
    - name: Upload cargo timings
      uses: actions/upload-artifact@v4
      with:
        name: cargo-timings-conformance
        path: target/cargo-timings/cargo-timing*.html
        retention-days: 2
    - name: Summary
      run: |
        cat-yamls () {
          local files=("$@")
          local count=$#
          
          for ((i=0; i<count-1; i++)); do
          cat "${files[i]}"
          echo -e "\n---"
          done
          
          if [ $count -gt 0 ]; then
          cat "${files[count-1]}"
          fi
        }

        echo -e '\n# Conformance Reports\n\n```yaml' >> $GITHUB_STEP_SUMMARY
        cat-yamls ./controller/_test/conformance/*.yaml >> $GITHUB_STEP_SUMMARY
        echo -e '```\n' >> $GITHUB_STEP_SUMMARY
        echo -e '# Conformance Timings\n' >> $GITHUB_STEP_SUMMARY
        cat controller/_test/ci-step-timings.log >> $GITHUB_STEP_SUMMARY
