name: Branch

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  CI: true

jobs:
  #### Proxy jobs ####
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
      # Github cache is too tiny to handle the full matrix :-(
      if: ${{ matrix.os == 'ubuntu-22.04-arm' || matrix.os == 'ubuntu-latest' }}
      with:
        # Github cache will restore from 'main' OR the current branch.
        # If we cache PR branches, we may evict the 'main' cache and end up with no cache hits at all.
        # Ideally, we would have main be 'high priority' and not be evicted but I don't think thats possible.
        save-if: ${{ github.ref == 'refs/heads/main' }}
    - name: Test
      run: make test
    - name: Validate
      run: make validate

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 23
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
      with:
        # Github cache will restore from 'main' OR the current branch.
        # If we cache PR branches, we may evict the 'main' cache and end up with no cache hits at all.
        # Ideally, we would have main be 'high priority' and not be evicted but I don't think thats possible.
        save-if: ${{ github.ref == 'refs/heads/main' }}
    - name: Add Go bin to PATH
      run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
    - name: Generation
      run: make generate-schema check-clean-repo
    - name: Lint
      run: make lint

  #### UI jobs ####
  ui-lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ui
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 23
    - name: Lint
      run: |
        npm ci
        npm run lint

  #### Controller jobs ####
  controller-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v6
      with:
        go-version: '1.25.7'
        cache-dependency-path: |
          **/*.sum
          .github/workflows/cache-lint
    - name: Test
      run: go test -race ./...

  controller-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v6
      with:
        go-version: '1.25.7'
        cache-dependency-path: |
          **/*.sum
          .github/workflows/cache-test
    - name: Lint
      run: make -C controller analyze
    - name: Gen
      # TODO: the rest of codegen
      run: make generate-apis check-clean-repo
